.userInfo {
    text-align: center;
}

.userInfo ._img {
    font-size: 50px;
}

.userInfo h1 {
    text-transform: capitalize;
    margin: 10px 0;
}

.userInfo ._email {
    margin: 10px 0;
    color: #555555;
}

.text-muted {
    color: #919aa3
}